@import "./global//variables";
@import "./global/fonts";

.bannerWrapper {
    padding-left: 3rem;
    .bannerTitle {
        width: 480px;
        font-weight: 600;
        h2 {
            font-size: 4rem;
        }

        .bannerSubtitle {
            font-family: Poppins-Regular, serif;
            font-weight: normal;
            width: 620px;

            h5 {
                font-size: 1rem;
            }
        }
    }

    span {
        color: $deep-orange;
    }
}

@media (max-width: 769px) {
    .bannerWrapper {
        margin-top: 4rem;
        text-align: center;
        padding-left: 0;

        .bannerTitle {
            margin: auto;
            width: 95%;

            h2 {
                font-size: 2.5rem;
            }

            .bannerSubtitle {
                width: 100%;
            }
        }
    }

}