@import "./global//variables";
@import "./global/fonts";
@import "./global/fonts";

.bannerWrapper {

    max-width: 500px;
    margin-top: 1.5rem;

    h2 {
        font-size: 4rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;

        span {
            color: $deep-orange;
        }
    }

    h5 {
        font-size: 0.9rem;
        font-family: Poppins-Regular, serif !important;
        font-weight: normal;
    }
}

@media (max-width: 769px) {
    .bannerWrapper {
        width: 100%;
        margin: 4rem auto;
        text-align: center;

        h2 {
            font-size: 3rem;
        }
    }
}

@media (max-width: 490px) {
    .bannerWrapper {
        max-width: 90% !important;
        margin: 1.5rem auto;
    }
}