@import "./global/variables";

.errorMessage {
    margin: auto;
    text-align: center;

    h2 {
        color: $red-color;
    }

    button {
        box-shadow: 0px 0px 0px 2px $deep-orange;
        background: $deep-orange;
        background-color: $deep-orange;
        border-radius: 10px;
        border: 1px solid $deep-orange;
        display: inline-block;
        cursor: pointer;
        color: $white-color;
        font-size: 19px;
        padding: 12px 37px;
        text-decoration: none;
    }
}