@import "./global//variables";
@import "./global/fonts";
@import "./global/mixins";

.menuItems {
    .menuitemsWrap {
        overflow: auto;
        white-space: nowrap;

        .cards {
            border-radius: 20px;
            margin: 2rem;
            background-color: $light-gray;
            text-align: center;
            display: inline-block;
            position: relative;
            width: 230px;
            height: 270px;

            .menuImage {
                width: 192px;
                height: 120px;
                position: absolute;
                left: 30%;
            }

            article {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
            }

            h6>span {
                color: $deep-orange;
            }

            p {
                font-family: Poppins-Regular, serif !important;
            }
        }

    }

    .shoppingBasketMenu {
        @include basket;
        padding: 0.5rem;
        background-color: $white-color;
        margin-top: -1rem;
    }

    .shoppingBasketFooter {
           margin-top: 1rem;
        img {
            height: 25px;
            cursor: pointer;
        }


    }

    .footerWrap {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        margin: 1rem auto;
        background-color: $light-gray;
        border-radius: 15px;

    }
}