@import "./global//variables";
@import "./global/fonts";

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0%;
    list-style: none;
    padding: 0;


    li:first-child {
      margin-right: auto;

      a {
        padding: 0;
        margin-top: 2rem;
      }

    }

    li:last-child {
      margin-top: -0.3rem !important;
    }

    li {

      a {
        margin-top: 3rem;
        display: block;
        padding: 0 1.7rem;
        text-decoration: none;
        color: $dark-smoke-color;
        font-size: 0.9rem;
        font-weight: 600;
        font-size: Poppins-Bold, 'serif';

        span {
          margin-right: 1rem;
        }
      }

      .brandTitle {
        font-weight: 700;
        font-size: 2rem;
        color: $dark-color;
      }

      .imgFluid {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        margin-right: -28px;
        vertical-align: middle;
      }

      .deliveryNav {
        background-color: $light-orange;
        color: $deep-orange;
        border-radius: 50px;
      }
    }
  }

}

@media (max-width: 768px) {
  nav {
    li:not(:first-child) {
      margin-left: auto;
    }

    li:first-child {
      a {
        padding-left: 2rem !important;
      }
    }
  }
}

@media (max-width: 490px) {
  nav ul > li:first-child {
    margin-left: 0;
  }
  nav ul > li:last-child {
    margin-right: 1rem;
  }
}