@import "./global//variables";
@import "./global/fonts";
@import "./global/mixins";

    .popUpItemsFullOpacity {
     @include popUpItems(100%)
    }

    .popUpItemsPartialOpacity {
        @include popUpItems(85%)
    }
    
    .popUpItemsWrap {
      max-width: 480px;
      margin: auto;
    
    .popUpItemsContent {
        background-color: $light-gray;
        margin-top: 15rem;
        padding: 20px;
        border-radius: 15px;
        text-align: center;

    }
}
    span {
        color: $deep-orange;
    }

@media (max-width: 768px) {

    .popUpItems {
        padding-top: 14rem;
    }
}