.popUpItemsfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 420px) {
    .popUpItemsWrap {
        max-width: 310px !important;
    }
}